*{
    padding: 0;
    margin: 0;
}
html,body{
    background-color: #1c1c1c;
    color: #e6e7e8;
    height: 100%;
    width: 100%;
}
header,div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid green;
}
h1,a{
    padding: 1rem;
}
a{
    color: #e6e7e8;
    text-decoration: none;
}
a:hover{
    color: #C3F73A;
}
div{
    height: 30.55%;
    justify-content: center;
}